<script>
	//import {BoaviztaLayout} from "dashboaviz-kit/src/lib/layout/BoaviztaLayout.svelte";

	let menu_items = [
		{
			name: 'HOME',
			icon: '/home.png',
			url: '/',
			alt: 'home'
		},
	]
</script>

<main>
	<!--<BoaviztaLayout menu_items={menu_items}>-->
		<slot></slot>
	<!--</BoaviztaLayout>-->
</main>