<script>
    import {
        MultiImpactsZone, BarChart, NumberMetric
    } from "dashboaviz-kit";
    import {NocoDB} from "$lib/nocodb.js";
    import {onMount} from "svelte";


    let aggregated_metrics_per_job = {
        "GWP":{
            "unit":"kgCO2eq.",
            "description":"Global Warming Potential",
            "data":[
                ['version', 'operational', 'embedded'],
                ["v0.2", 2, 3],
                ["v0.3", 5, 10],
                ["v0.4", 13, 12],
                ["v0.5", 9, 11],
            ]
        },
        "PE":{
            "unit":"MJ",
            "description":"Primary Energy use",
            "data":[
                ['version', 'operational', 'embedded'],
                ["v0.2", 2, 3],
                ["v0.3", 5, 10],
                ["v0.4", 8, 12],
                ["v0.5", 9, 11],
            ]
        },
        "ADP":{
            "unit":"KgSbeq.",
            "description":"Abiotic Depletion Potential",
            "data":[
                ['version', 'operational', 'embedded'],
                ["v0.2", 2, 3],
                ["v0.3", 5, 10],
                ["v0.4", 8, 12],
                ["v0.5", 9, 11],
            ]
        }
    }
    let impactsCriterias = Object.keys(mutiimpactzone_barchart_data).map((key) => {
        return {
            'label': key,
            'value': key
        }
    })

    let raw_data;
    let load;

    onMount(async () => {
        let client = new NocoDB("http://localhost:8081", "admin@test.local", "admin123")
        load = await client.get_table("Leaderboard", "p_leaderboard", "Leaderboard submissions").then((data) => {
            //Do you stuff here
            console.log(data)
            raw_data = data;
            data
        });



    });

</script>
<!--
{#if raw_data}
    {#each raw_data.list as d}
        <p>{d.ID}</p>
        <div style="display: flex;">
            <NumberMetric title="" - Exemple" value={"13"} unit="{mutiimpactzone_barchart_data[selected_criteria].unit}" description="Lorem ipsum"></NumberMetric>
            <NumberMetric title="{selected_criteria} - Exemple" value={"X"}  description="Lorem ipsum"></NumberMetric>
            <NumberMetric title="{selected_criteria} - Exemple" value={"Y"} description="Lorem ipsum"></NumberMetric>
        </div>
    {/each}
{/if}

-->